# התעלמות מתיקיות התלויות של Node בשני השירותים
node_modules/
**/node_modules/

# התעלמות מדוחות הבדיקות והכיסוי
coverage/
**/coverage/

# התעלמות מקבצי לוג של שגיאות
*.log
npm-debug.log*

# התעלמות מקבצי מערכת הפעלה (כמו של מק או חלונות)
.DS_Store
Thumbs.db

